body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 50vh;
  min-width: 30vw; */
  /* height: 70vh; */
  min-width: 30vw;
  aspect-ratio: 4 / 5;
  background-color: lightgray;
  padding: 20px;
  gap: 20px;
  border-radius: 12px;
  border-color: rgb(150, 150, 150);
  border-style: solid;
}

#display {
  /* min-width: 95vw;
  min-height: 40px; */
  display: flex;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
}

#display p {
  display: flex;
  font-size: 4em;
  color: rgb(43, 43, 43);
  width: 100%;
  height: 100%;
  justify-content: right;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  padding: 0 40px;
  letter-spacing: 0.1em;
}

#button-container {
  display: flex;
  flex: 7 auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  /* width: 50px;
  height: 50px; */
  /* width: 8vw;
  height: 8vw; */
  width: 20%;
  height: 20%;
  flex: 1 auto;
  border-radius: 20px;
  font-size: 2em;
  padding: 0;
}
